<div class="container">
	<div class="row">
		

	</div>
</div>
<p><%= @company.name %></p>

<p><%= @company.description %></p>

<%= link_to "New Part", new_user_company_part_path(@user, @company, @part) %>